/* global codes */
.inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}
.reset{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	display: block;
	list-style: none;
	quotes: none;
	content: '';
	content: none;
	border-collapse: collapse;
	border-spacing: 0;



}
/* /global codes */

/* 
/* fonts */
@font-face{
    font-family: font1;
    src: url(../fonts/bpg_nino_mkhedruli_bold.ttf);
 }
 @font-face{
     font-family: font2;
     src: url(../fonts/bpg_nino_mtavruli_bold.otf)
 }
 @font-face{
     font-family: font3;
     src: url(../fonts/bpg_nino_mtavruli_normal.ttf)
 }
 
 html{
    font-family: font3;

}
 .main{
     font-family: font2;
 }
 nav{
     font-family: font1;
 }
 footer{
     font-family: font2;
 }

 
 /* end fonts */ 







footer a{
    text-decoration-line: none;
    color: #606060;
}
.main{
    color: #303342;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
  }


.nav1 {
    text-align: center;
    word-spacing: 50px;
    justify-content:space-between;
    margin-left: 12.77777777777778%;
    margin-right: 12.77777777777778%;
 
}
nav section{
    width: 80px;

  
}
nav ul li {
    list-style-type: none;
    color: #606060;
    font-size: 20px;

}

.material-icons{
     font-size: 15px;
     margin-left: 0.5%;
 }
 .material-icons, .search{
     color: #606060;
     font-size: 16px;
 }
 .tran{
     font-size: 16px;
     color: #606060;
 }

.qucha{
   
    font-size: 19px;
    line-height: 22.8px;
    text-align: center;
    color: #606060;
    margin-bottom: 70px;
    margin-top: 60px;
    
}
footer{
    justify-content: space-between;
    font-size: 17px;
    color: #606060;
    margin-left: 12.77777777777778%;
    margin-right: 12.77777777777778%;
    margin-bottom: 50px;
    margin-top: 50px;

}
.fb,.in{
    font-size: 16px;
}
.reset li {
    font-size:20px;
}
.nav2{
    
    margin-left: 14%;
    line-height: 31px;
   
}
 .container1{
     font-size: 14px;
     width: 210px;
     
        
       
 }
.div1{
    -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 800px;
        justify-content: space-between;
            align-content: start;
            margin-left: 20px;
            
       
}
.sec1{
    margin-top: 40px;

}
.div1 p{
    margin-top: 10px;
    margin-bottom: 60px;
    width: 253px;
}




/*  media tags */
 

@media screen and (min-width:300px) {
   
 .nav2{
     display: none;
 }
 .div1{
     margin-left: 0px;
  
 }
 .container1{
     width: 270px;
     margin-left: auto;
     margin-right: auto;
     font-size: 13px;
 }
 footer{
     margin-bottom: 10px;

 }
}
 
 
 
/*  small == tablet (bootstrap sm) ---  768px - 991px    */
 
@media screen and (min-width:768px) {
 .nav2{
     display: flex;   
     margin-left: 10px; 
    
 }
 
}
 
 
 
/*  medium == notebook small (bootstrap md) ---  992px - 1999px    */
 
@media screen and (min-width:992px) {
 
    .nav2{
         
        margin-left: 60px; 
    }
    
}
 
 
 
/*  large == notebook large (bootstrap lg) ---  1200px +   */
 
@media screen and (min-width:1200px) {
    .div1{
        width: 1000px;

    }
    .glavni{
        display: flex;
    }
    .sec1{
        margin-left: auto;
        margin-right: auto;
    }
}