/* global codes */
.inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}
.reset{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	display: block;
	list-style: none;
	quotes: none;
	content: '';
	content: none;
	border-collapse: collapse;
	border-spacing: 0;



}
/* /global codes */

footer a{
    text-decoration-line: none;
    color: #606060;
}
.main{
    color: #303342;
}

header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 2%;
  margin-top: 4%;
  margin-bottom: 4%;

}


.nav1 {
    text-align: center;
    word-spacing: 50px;
    justify-content:space-between;
    margin-left: 12.77777777777778%;
    margin-right: 12.77777777777778%;
 
}
nav section{
    width: 80px;

  
}
nav ul li {
    list-style-type: none;
    color: #606060;
    font-size: 20px;

}

.material-icons{
     font-size: 15px;
     margin-left: 0.5%;
 }
 .material-icons, .search{
     color: #606060;
     font-size: 16px;
 }
 .tran{
     font-size: 16px;
     color: #606060;
 }

.qucha{
   
    font-size: 19px;
    line-height: 22.8px;
    text-align: center;
    color: #606060;
    margin-bottom: 70px;
    margin-top: 60px;
    
}
footer{
    justify-content: space-between;
    font-size: 17px;
    color: #606060;
    margin-left: 12.77777777777778%;
    margin-right: 12.77777777777778%;
    margin-bottom: 50px;

}
.fb,.in{
    font-size: 16px;
}
.reset li {
    font-size:20px;
}
.nav2{
    
    margin-left: 14%;
    line-height: 31px;
   
}
 .container{
     font-size: 14px;
     width: 210px;
     
        
       
 }
.div1{
    -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 800px;
        justify-content: space-between;
            align-content: start;
            margin-left: 20px;
            
       
}
.sec1{
    margin-top: 40px;

}
.div1 p{
    margin-top: 10px;
    margin-bottom: 60px;
    width: 253px;
}